node_modules
client/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
dist
client/dist
*.tsbuildinfo
.DS_Store
.idea
.vscode
client/temp-ref-files/bin.js
.gitignore
.gitignore
client/temp-ref-files/sketch.js
client/temp-ref-files/utils.js
client/temp-ref-files/data.js
client/temp-ref-files/osn.js
client/temp-ref-files/macrodata.js